body {
    width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 0 20px 20px 20px;
    border: 5px solid lightslategrey;
    height: 450px;
}
h1 {
    text-align: center;
    font-size: 40px;
    color: red;
}
.outer, .middle, .inner1, .inner2 {
    display: block;
    width: 520px;
    padding: 15px;
    margin: 15px;
    text-decoration: none;
    cursor: pointer;
}
.outer {
    border:1px solid red;
    color:red;
    margin-top: 50px;
}
.middle{
    border:1px solid green;
    color:green;
    width:460px;
}
.inner1, .inner2{
    border:1px solid purple;
    color:purple;
    width:400px;
}